html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hex {
    position: absolute;
    width: 25px; 
    height: 14.43px;
    background-color: #fecf2d;
    margin: 7.22px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
}

.hex:before,
.hex:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 17.68px;
    height: 17.68px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 2.6612px;
}

.hex:before {
    top: -8.8388px;
    border-top: solid 1.4142px #333333;
    border-right: solid 1.4142px #333333;
}

.hex:after {
    bottom: -8.8388px;
    border-bottom: solid 1.4142px #333333;
    border-left: solid 1.4142px #333333;
}

.dir-1{
    animation-name: dir-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    right: auto;
}

@keyframes dir-1{
    0% { transform: rotate(0deg); right: 0px; top: 0; }
    100% { transform: rotate(360deg); right: 110px; top: 25px; }
}
